<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Cart</ion-title>
    </ion-navbar>
</ion-header>

<ion-content bg-color="red">
    <ion-list>
        <ion-item *ngFor="let item of cart" bg-color="pink">
            <ion-thumbnail item-start>
                <img src={{item.pic}} />
            </ion-thumbnail>
            <h2>{{item.product}} (x{{item.count}})</h2>
            <p>$ {{item.price * item.count}}</p>
            <button ion-button id="add-btn" item-end (click)="bumpCounter(item)">
                <ion-icon name="md-add-circle"></ion-icon>
            </button>
            <button ion-button id="sub-btn" item-end (click)="decrCounter(item)">
                <ion-icon name="md-remove-circle"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
    <ion-card bg-color="pink" *ngIf="hide_confirm">
        <ion-card-content>
            <h2>User: {{active_user}}</h2>
            <h2>Total: $ {{cart_price}}</h2>
            <hr>
            <button ion-button id="cnfrm-btn" (click)="submitOrder()">Confirm</button>
        </ion-card-content>
    </ion-card>
    <ion-card bg-color="pink" *ngIf="!hide_confirm">
        <ion-card-content>
            <h2>Order num: {{order_num}}</h2>
        </ion-card-content>
    </ion-card>
</ion-content>
