page-home {
	[ bg-color="red" ] {
		background-color: #5E2A2E;
		//f9ecec
	}
	[ bg-color="dpink" ] {
		background-color: #F3D9D9;
		margin: 5px 0px;
		border-radius: 6px;
		padding: 5px;
		font-size: 1.5em;
		border: 2px solid #bf404a;
	}
	[ img-size="logo" ] {
		width: 80%;
		margin-top: 40%;
	}
	[ h-align="center" ] {
		text-align: center;
	}
	.card-content {
		padding: 0;
	}
	.card {
		background-color: #76272D;
		text-align: center;
		padding: 2px 5px;
		border-radius: 4px;
		margin-top: 20px;
		border: 2px solid #602025;
	}
	#login_btn {
		background-color: #85cc33;
		color: #507a1f;
		border-radius: 6px;
		width: 100%;
		border: 2px solid #507a1f;
	}
	#register_btn {
		background-color: #89abc2;
		color: #3d5e76;
		border-radius: 6px;
		width: 100%;
		border: 2px solid #3d5e76;
	}
	.text-input::-moz-placeholder {
	  	color: #d27981;
	}

	.text-input:-ms-input-placeholder {
	  	color: #d27981;
	}

	.text-input::-webkit-input-placeholder {
	  	text-indent: 0;
	  	color: #d27981;
	}
}
